<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   aaa.plist
   Objective-C UI Project

   Created by Nikola Andriiev on 25.08.16.
   Copyright (c) 2016 Andriiev.Mykola. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
